.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
}

.text-center-dos {
    font-size: 30px;
    margin-left: 20%;
}

.autor {
    font-size: 20px !important;
}

.past {
    display: none;
}

.future {
    display: none;
}