<% include partials/head %>

    <% include partials/sidebar %>
        <div class="col-md-10 col-md-offset-2 content">
            <h1>
                Editar Producto
                <%= person.autor%>
            </h1>

            <form action="/editar/<%= person._id %>" method="post">
                <div class="form-group">
                    <label for="titulo">titulo</label>
                    <input type="text" class="form-control" name="titulo" value="<%= person.titulo %>" />
                </div>

                <div class="form-group">
                    <label>Autor:</label>
                    <input type="text" class="form-control" name="autor" value="<%= person.autor %>" />

                </div>

                <div class="form-group">
                    <label>Descripción:</label>
                    <input type="text" class="form-control" name="descripcion" value="<%= person.descripcion %>" />
                </div>

                <button type="submit" class="btn btn-success">Guardar</button>

            </form>
        </div>
        <% include partials/pie %>
