<div class="jumbotron text-center col-md-12">

    <h1>Bienvenido señor
        <%= user.local.username %>
    </h1>
    <h2>Usted vive en:
        <%= user.local.country %>
    </h2>

    <img src="<%= user.local.foto %>" />
    <a href="/logout" class="btn btn-danger">Salir</a>
</div>