<% include partials/head %>

    <% include partials/sidebar %>
        <div class="col-md-10 col-md-offset-2 content">

            <div class="page-header">
                <h1>Ver Producto
                    <strong> <%= person.titulo%></strong>
                </h1>
            </div>

            <dl>
                <dt>AUTOR</dt>
                <p></p>
                <dd>
                    <%= person.autor%>
                </dd>
            </dl>

            <dl>
                <dt>DESCRIPCIÓN DEL PRODUCTO</dt>
                <p></p>
                <dd>
                    <%= person.descripcion%>
                </dd>
            </dl>

        </div>
        <% include partials/pie %>