<% include partials/head %>

    <div class="container-fluid formulario jumbotron text-center">
        <h2>Registrarse al Sistema</h2>
        <form action="/registro" method="post" encType="multipart/form-data">
            <div>
                <input type="text" name="username" placeholder="Usuario">
            </div>
            <div>
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <div>
                <input type="text" name="country" placeholder="Pais">
            </div>

            <div>
                <input type="text" name="foto" placeholder="Agregar Foto solo URL">
            </div>

            <div>
                <input type="file" name="archivo" />
            </div>

            <div>
                <input type="submit" value="Registrar" class="btn btn-success">
                <a href="/" class="btn btn-danger">Volver a Inicio</a>
            </div>
        </form>
    </div>