<!DOCTYPE html>
<html>

<head>
    <title>Sistema Prueba</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <style media="screen">
        .formulario input[type='text'],
        .formulario input[type='password'] {
            padding: 10px;
            margin: 5px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
        
        .formulario input[type='text']:focus,
        .formulario input[type='password']:focus {
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
        
        div div .texto {
            font-size: 13px;
        }
        
        h1 {
            font-size: 20px;
        }
        
        .fondo {
            background: linear-gradient(to left, rgba(0, 0, 0, .0001) 30%, #080808 93%), url("http://s1.1zoom.me/b5050/708/268030-alexfas01_1920x1080.jpg");
            ;
            background-size: cover;
            height: 633px;
        }
        
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
        @import url(https://fonts.googleapis.com/css?family=Teko:700);
        .snip1543 {
            background-color: #fff;
            color: #ffffff;
            display: inline-block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            margin: 10px 5px;
            max-width: 500px;
            min-width: 230px;
            overflow: hidden;
            position: relative;
            text-align: left;
            width: 100%;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        
        .snip1543 *,
        .snip1543 *:before,
        .snip1543 *:after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.45s ease;
            transition: all 0.45s ease;
        }
        
        .snip1543 img {
            backface-visibility: hidden;
            width: 514px;
            height: 225px;
            vertical-align: top;
        }
        
        .snip1543:before,
        .snip1543:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            background-color: #b81212;
            opacity: 0.5;
            -webkit-transition: all 0.45s ease;
            transition: all 0.45s ease;
        }
        
        .snip1543:before {
            -webkit-transform: skew(30deg) translateX(-80%);
            transform: skew(30deg) translateX(-80%);
        }
        
        .snip1543:after {
            -webkit-transform: skew(-30deg) translateX(-70%);
            transform: skew(-30deg) translateX(-70%);
        }
        
        .snip1543 figcaption {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 1;
            bottom: 0;
            padding: 25px 40% 25px 20px;
        }
        
        .snip1543 figcaption:before,
        .snip1543 figcaption:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #b81212;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            content: '';
            opacity: 0.5;
            z-index: -1;
        }
        
        .snip1543 figcaption:before {
            -webkit-transform: skew(30deg) translateX(-100%);
            transform: skew(30deg) translateX(-100%);
        }
        
        .snip1543 figcaption:after {
            -webkit-transform: skew(-30deg) translateX(-90%);
            transform: skew(-30deg) translateX(-90%);
        }
        
        .snip1543 h3,
        .snip1543 p {
            margin: 0;
            opacity: 0;
            letter-spacing: 1px;
        }
        
        .snip1543 h3,
        h4,
        h5,
        h6 {
            font-family: 'Teko', sans-serif;
            font-size: 25px;
            font-weight: 700;
            line-height: 1em;
            text-transform: uppercase;
        }
        
        .snip1543 p {
            font-size: 0.9em;
        }
        
        .snip1543 a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        
        .snip1543:hover h3,
        h4,
        h5,
        h6 .snip1543.hover h3,
        .snip1543:hover p,
        .snip1543.hover p {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0.9;
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
        
        .snip1543:hover:before,
        .snip1543.hover:before {
            -webkit-transform: skew(30deg) translateX(-20%);
            transform: skew(30deg) translateX(-20%);
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
        }
        
        .snip1543:hover:after,
        .snip1543.hover:after {
            -webkit-transform: skew(-30deg) translateX(-10%);
            transform: skew(-30deg) translateX(-10%);
        }
        
        .snip1543:hover figcaption:before,
        .snip1543.hover figcaption:before {
            -webkit-transform: skew(30deg) translateX(-40%);
            transform: skew(30deg) translateX(-40%);
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }
        
        .snip1543:hover figcaption:after,
        .snip1543.hover figcaption:after {
            -webkit-transform: skew(-30deg) translateX(-30%);
            transform: skew(-30deg) translateX(-30%);
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
        }
        
        html,
        body,
        .container-fluid,
        .row {
            height: 100%;
        }
        
        .sidebar {
            background-color: #CCCCCC;
            margin-top: 71px;
        }
        
        .content {
            margin-top: 71px;
            padding-top: 20px;
        }
        
        footer {
            background: #000000 !important;
        }
        
        .btn-danger {
            margin-top: 10px !important;
            font-size: 12px !important;
            padding: 8px !important;
        }
        
        @media (min-width: 992px) {
            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1000;
                display: block;
                background-color: rgba(228, 228, 228, 0.95);
            }
        }
    </style>
</head>

<body>
