<footer class="col-md-10 col-md-offset-2 content" style="background: rgba(80, 77, 77, 0.77) !important; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; color: #fff;
text-shadow: #000 1px 1px 4px; height: 55px !important; margin-top:0px;">

    <div class="container col-md-12">
        <h4 style="text-align: right !important; font-size: 9px !important;">Desarrollado por Fernando López 2018
        </h4>
    </div>


</footer>
</body>

</html>