<footer class="col-md-10 col-md-offset-2 content" style="background: rgba(80, 77, 77, 0.77) !important; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; color: #fff;
text-shadow: #000 1px 1px 4px; height: 55px !important; margin-top:0px;">

    <div class="container col-md-12">
        <h4 style="text-align: right !important; font-size: 9px !important;">Desarrollado por Fernando López 2018
        </h4>
    </div>


</footer>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script id="entry-template" type="text/x-handlebars-template">
    {{#items}}
    <tr>
        <th scope="row">1</th>
        <td>{{ titulo }}</td>

    </tr>
    {{/items}}
</script>
<script>
    var items = {};
    var source = document.getElementById("entry-template").innerHTML;
    var template = Handlebars.compile(source);
    var socket = io('http://localhost:3000');

    socket.on('post-add', function(data) {
        items = data;
        template(data);
        $('#post-add').html(template(items));
    });

    socket.on('comment.count', function(data) {
        $('#posts-count').text(data.count);
    });
</script>
</body>

</html>